.projects-background-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80px;
  background-color: var(--blaker-color);
}

.projects-background-slide h2 {
  text-align: center;
  color: var(--sec-color);
}

.card-container {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 30%; /* Adjusted flex value for three cards */
  border: 1px solid var(--sec-color); /* Dark background color */
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  max-width: 300px; /* Adjusted max-width for better responsiveness */
  min-height: 20rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  justify-content: center;
  background-color: var(--dark-color);
}

.card:hover {
  transform: scale(1.05);
}

#cardImage {
  max-width: 15rem;
  max-height: 9rem;
  margin: auto;
  padding: 0;
  border-radius: 10px;
}

.card h3 {
  color: var(--sec-color);/* Main color for text and accents */
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: var(--blacker-color);
}

button {
  background-color: var(--blacker-color); /* Dark background color */
  color: var(--bg-color); /* Background color for text */
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  background-color: var(--sec-color); /* Secondary color for highlights */
}
