.goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--dark-color); /* Dark background color */
    color: var(--bg-color); /* Background color for text */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.3s;
}
  
.goToTopBtn.visible {
    display: block;
    opacity: 1;
}
